<div class="users-list">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Actions</th>
        <th>Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>Web Site</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <a routerLink="/edit/{{ user.id }}" class="btn btn-secondary">Edit</a>
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.website }}</td>
      </tr>
    </tbody>
  </table>
</div>
