<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button
    class="navbar-toggler navbar-toggler-right"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-main"
    aria-controls="navbar-main"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a
    class="navbar-brand"
    routerLink="/"
  >
    <img src="favicon.ico" />
  </a>
  <div
    class="collapse navbar-collapse"
    id="navbar-main"
  >
  </div>
</nav>
